{% extends "layout.html" %}

{% block title %}
Añadir nuevo platillo
{% endblock %}

{% block content %}
<h3>Agregar un platillo nuevo al inventario</h3>

<form action="/agregar_platillo/" method="post" class="row g-3" style="margin-top: 2% !important;">
    {% csrf_token %}
    <!--PRIMERA FILA-->
    <div class="row">

        <!--NOMBRE-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Nombre</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nombre">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="nombre" class="form-control" id="inputPassword2" value="" required>
            </div>
        </div>

        <!--DESCRIPCION-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Descripcion</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Descripcion">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="desc" class="form-control" id="inputPassword2" value="" required>
            </div>
        </div>

        <!--PRECIO-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Precio C$:</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Precio">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="number" name="precio" class="form-control" id="inputPassword2" value="" required>
            </div>
        </div>

    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary" id="agregar_ingredientes">Añadir ingredientes</button>
        </div>
    </div>
    <div  id="ingredientes">

    </div>
    <button type="submit" class="btn btn-secondary">Guardar</button>
</form>

<script>
    const botonAgregar = document.getElementById('agregar_ingredientes');
    const contenedor = document.getElementById('ingredientes');

    let contador = 0;
    // Agregamos un event listener al botón
    botonAgregar.addEventListener('click', function () {


        const htmlAgregado = `
        <div class="row" id=`+contador+`>
                <div class="col-md-6" id="">
                <label for="exampleDataList" class="form-label">Nombre</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" name="nombre_ingredientes"
                    placeholder="Buscar ingredientes disponibles ...">
                <datalist id="datalistOptions">
                {% for x in ingredientes %}
                    <option value={{x.nombre}} oninput="obtenerID(event,`+contador+`,{{x.id_item}})" id="{{x.id_item}}">
                {% endfor %}
                </datalist>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" id="medida`+contador+`">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="col-md-4">
                    <label for="formGroupExampleInput" class="form-label">Cantidad</label>
                    <input type="number" name="cantidad" class="form-control" id="formGroupExampleInput" placeholder="¿Cuántos necesitas para elaborarlo?">
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-danger" onclick="eliminarIngrediente(event,`+contador+`)" id="eliminar_ingrediente">Eliminar</button> 

                </div>
            </div>
        </div>
            `;
        contador+=1;    
        // Agregamos el nuevo div al contenedor
        contenedor.insertAdjacentHTML('beforeend', htmlAgregado);
    });

    function eliminarIngrediente(event, id){
        console.log(id)
        const ingrediente = document.getElementById(id);

       ingrediente.remove();

    }

    function obtenerID(event,id_padre, id_item, unidad_medida){
        medida_label = document.getElementById("medida"+id_padre);

        medida_label =
    }
    
</script>

{% endblock %}