{% extends "layout.html" %}
{% load static %}
{% block title %}
Agregar un alquiler
{% endblock %}

{% block content %}

<style>
    /* Opcional: estilizar el input para ocultar los minutos */
    input[type="time"]::-webkit-datetime-edit-ampm-field,
    input[type="time"]::-webkit-datetime-edit-minute {
        display: none;
    }
    input[type="time"]::-webkit-datetime-edit {
        padding-right: 5px;
    }
</style>
<h3>Agregar un nuevo alquiler</h3>
<form action="/add_alquiler2/" method="post" class="row g-3" style="margin-top: 2% !important;">
    <p></p>
    {% csrf_token %}
    <!--PRIMERA FILA-->

    <div class="row">
        <!--Fecha-->
        <div class="col-md-5">
            <div class="col">
                <label for="fecha">Selecciona una fecha:</label>
            </div>
            <div class="col">
                <input type="date" class="form-control" id="fecha" name="fecha" min="" required>
            </div>
        </div>
    </div>

    <div class="row">
        <!--HORA DE INICIO-->
        <div class="col-md-4">
            <div class="col">
                <label for="horaInicio">Hora de inicio:</label>

            </div>
            <div class="col">
                <input type="time" id="horaInicio" class="form-control" name="horaInicio" min="14:00" max="02:00"
                    required />
            </div>
        </div>

        <!--HORA DE FIN-->
        <div class="col-md-4">
            <div class="col">
                <label for="horaFin">Hora de fin:</label>
            </div>
            <div class="col">
                <input type="time" id="horaFin" class="form-control" name="horaFin" step="3600" min="14:00" max="02:00" required />
            </div>
        </div>

    </div>

    <div class="row">
         <!--TIPO ALQUILER-->

         <div class="col-md-4">
            <label for="tipoAlquiler" class="form-label">Tipo de alquiler:</label>
            <select class="form-select" name="tipoAlquiler" aria-label="Default select example" id="tipoAlquiler" >
                {% for tipo in tipoAlquiler %}
                <option value="{{tipo.0}}">{{tipo.1}} | Tarifa/ 4 horas: $ {{tipo.2}}</option>
                {% endfor %}
            </select>
        </div>


        <!--CEDULA-->
        <div class="col-md-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Cédula</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                    value="Cédula"  >
            </div>
            <div class="col-auto">
                <label for="cedula" class="visually-hidden"></label>
                <input type="text" maxlength="16" name="cedula" class="form-control" id="cedula" value=""
                required autocomplete="off"  required pattern="^\d{3}-\d{6}-\d{4}[A-Za-z]$" title="XXX-XXXXXX-XXXXY" id="cedula"
                onchange="buscar_clientes_cedula(event)">
            </div>
        </div>
        <div class="col">
            <div class="col-auto">
                <label for="coincidencia" class="visually-hidden">Coincidencia</label>
                <input type="text" readonly class="form-control-plaintext" id="coincidencia"
                    value="Coincidencia"  >
            </div>
            <div class="col-auto">
                <label for="cedula" class="visually-hidden"></label>
                <input type="text" readonly maxlength="16" name="cedula" class="form-control-plaintext" value=""
                required autocomplete="off"  id="cliente">
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col">
            <p>¿Desea agregar servicios de comida y bebida? Por un costo extra de $50</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="agregar_servicios" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="agregar_servicios" id="inlineRadio2" value="0">
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary">Guardar alquiler</button>
</form>

<script>
    document.getElementById('horaInicio').addEventListener('input', function(e) {
        var timeValue = e.target.value;
        if (timeValue) {
            var [hours, minutes] = timeValue.split(':');
            if (minutes !== '00') {
                e.target.value = `${hours}:00`;
            }
        }
    });

    document.getElementById('horaFin').addEventListener('input', function(e) {
        var timeValue = e.target.value;
        if (timeValue) {
            var [hours, minutes] = timeValue.split(':');
            if (minutes !== '00') {
                e.target.value = `${hours}:00`;
            }
        }
    });
</script>

<script>
    // Obtener la fecha actual en la zona horaria de Nicaragua (UTC-6)
    const cedulaInput = document.getElementById('cedula')
    const today = new Date();
    const nicaraguaTimezoneOffset = -6 * 60; // UTC-6 en minutos
    today.setMinutes(today.getMinutes() - nicaraguaTimezoneOffset);

    // Formatear la fecha actual en formato ISO (YYYY-MM-DD)
    const formattedDate = today.toISOString().split('T')[0];

    // Asignar la fecha actual al atributo min del input de fecha
    document.getElementById('fecha').min = formattedDate;




    //on input de la cedula
    cedulaInput.addEventListener("input", confirmarCliente);

    function confirmarCliente(){
        let cedulaTexto = cedulaInput.value

        console.log(cedulaTexto + "tipo: " +typeof cedulaTexto)
    }


</script>

{% endblock %}

{% block scripts %}
<script>
    var obtenerCedula = "{% url 'alquiler-cliente-bd' %}";
</script>
<script src="{% static 'alquiler.js' %}"></script>
{% endblock %}
