{% extends "layout.html" %}

{% block title %}
Añadir nuevo platillo
{% endblock %}

{% block content %}
<h3>Agregar un platillo nuevo al inventario</h3>

<form action="/agregar_platillo/" method="post" class="row g-3" style="margin-top: 2% !important;">
    {% csrf_token %}
    <!--PRIMERA FILA-->
    <div class="row">

        <!--NOMBRE-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Nombre</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nombre">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="nombre" class="form-control" id="inputPassword2" value="" required>
            </div>
        </div>

        <!--DESCRIPCION-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Descripcion</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Descripcion">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="desc" class="form-control" id="inputPassword2" value="" required>
            </div>
        </div>

        <!--PRECIO-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Precio</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Precio">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="number" name="precio" class="form-control" id="inputPassword2" value="" required>
            </div>
        </div>

    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary" id="agregar_ingredientes">Añadir ingredientes</button>
        </div>
    </div>
    <div class="row" id="ingredientes">

    </div>
    <button type="submit" class="btn btn-secondary">Guardar</button>
</form>

<script>
    const botonAgregar = document.getElementById('agregar_ingredientes');
    const contenedor = document.getElementById('ingredientes');

    // Agregamos un event listener al botón
    botonAgregar.addEventListener('click', function () {

        const htmlAgregado = `
                <div class="col-md-6">
                <label for="exampleDataList" class="form-label">Nombre</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" name="nombre_ingredientes"
                    placeholder="Buscar ingredientes disponibles ...">
                <datalist id="datalistOptions">
                {% for x in ingredientes %}
                    <option value={{x.nombre}}>
                {% endfor %}
                </datalist>
                </div>

                <div class="col-md-4">
                    <label for="formGroupExampleInput" class="form-label">Cantidad</label>
                    <input type="number" name="cantidad" class="form-control" id="formGroupExampleInput" placeholder="¿Cuántos necesitas para elaborarlo?">
                </div>
            </div>
            `;

        // Agregamos el nuevo div al contenedor
        contenedor.insertAdjacentHTML('beforeend', htmlAgregado);
    });
</script>

{% endblock %}