{% extends "layout.html" %}
{% load static %}
{% block title %}
Facturar un alquiler
{% endblock %}

{% block content %}
<form action="/facturar/alquiler/{{id_alquiler}}/" method="post" class="row g-3" style="margin-top: 2% !important;">
    {% csrf_token %}
    <!--PRIMERA FILA-->
    <div class="row">
        {%for item in info_alquiler%}
        <div class="col-md-6 card" style="padding: 1.5rem !important;">
            <strong>EL BUEN PUNTO</strong>
            <hr>
            <div class="row">
                <div class="col">
                    <p>Empleado </p>
                </div>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{empleado}}">
                </div>
            </div>
            <div class="row">
                
                <div class="col">
                    <p>Fecha </p>
                </div>
                <div class="col">
                    <input type="date" readonly name="fecha_factura" class="form-control-plaintext" value="" id="fecha_factura">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Cliente </p>
                </div>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{item.0}}">
                    <input type="text" readonly name="cedula" class="d-none form-control-plaintext" id="cedula" value="{{item.6}}">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Fecha del evento </p>
                </div>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{item.1}}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Hora de inicio del evento </p>
                </div>
                <div class="col">
                    <input type="time" readonly class="form-control-plaintext" id="staticEmail" value="{{item.2|time:'H:i'}}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Hora de fin del evento </p>
                </div>
                <div class="col">
                    <input type="time" readonly class="form-control-plaintext" id="horaFin" value="{{item.3|time:'H:i'}}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Tipo de alquiler</p>
                </div>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="tipoAlquiler" value="{{item.4}}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Servicios extras </p>
                </div>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="servicios_extras" value="{{item.5}}">
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    <strong>Total a pagar: </strong>
                </div>
                <div class="col">
                    <input type="number" id="total_pagar" readonly class="form-control-plaintext" id="total_pagar" value="">
                </div>

                
            </div>
            <div class="row">
                <div class="col">
                    <strong>Descuento: </strong>
                </div>
                <div class="col">
                    <input type="number" name="descuento" class="form-control" id="descuento_factura" value="0" oninput="obtener_descuento()" min="0" max="100">
                    
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <strong>Total a pagar con descuento aplicado: </strong>
                </div>
                <div class="col">
                    <strong>
                    <input type="text" readonly class="form-control-plaintext" id="total_pagar_descuento" value="">
                </strong>
                </div>
                
            </div>
            <hr>
            <div class="row">
                <div class="col d-inline">
                    <strong class="d-inline p-2 ">PAGA CON: </strong>
                    <input type="number" class="form-control d-inline" name="abono" id="abono" value="" min="" >
                    <select class="form-select d-inline" name="tipo_cambio" aria-label="Default select example" id="tipo_cambio">
                        <option selected value="1">Dólares</option>
                        <option value="2">Córdobas</option>
                      </select>
                </div>
                <div class="col">
                    <strong id="tipoCambio_ver">Cambio</strong>
                    <input class="form-control" readonly type="number" value="" name="" id="cambio">
                </div>
                <div class="col-auto-4 alert alert-danger" role="alert" id="error_abono"  style="margin-top: 3% !important;display:none !important;">

                </div>
            </div>
        </div>
        <input type="number" name="total_pagar2" class="d-none form-control" id="total_pagar2" value="">


    </div>

    <button type="submit" class="btn btn-secondary">Continuar</button>
</form>

{% endblock %}


{% block scripts %}
<script src="{% static 'alquiler.js' %}"></script>
<script>
    obtener_fechaFactura();
    const total_pagar = document.getElementById("total_pagar");
    const total_pagar2 = document.getElementById("total_pagar2");
    const abono_min = document.getElementById("abono");

    {% for x in info_alquiler %}
    let diferencia =  calcularDiferencia("{{x.2|time:'H:i'}}", "{{x.3|time:'H:i'}}");
    {% endfor %}

    let costo_total = calcularCostoReservacion(diferencia, document.getElementById("tipoAlquiler").value);
    total_pagar.value += costo_total;
    total_pagar2.value += costo_total;
    abono_min.min += costo_total;

    document.addEventListener("DOMContentLoaded", (event) => {
    const abonoInput = document.getElementById("abono");
    
    const tipoCambioSelect = document.getElementById("tipo_cambio");
    const totalPagar = document.getElementById("total_pagar").value;
    const tipoAlquiler = document.getElementById("tipoAlquiler").value;

    // Actualiza el evento de entrada para el campo "abono"
    abonoInput.addEventListener("input", (e) => calcular_cambio(e, totalPagar, tipoAlquiler));
});

</script>

{% endblock %}