{% extends "layout.html" %}

{% block title %}
Editar registro
{% endblock %}

{% block content %}
<h3>Agregar un item nuevo al inventario</h3>

<form action="/add_inventario/" method="post" class="row g-3" style="margin-top: 2% !important;">
    {% csrf_token %}
    <!--PRIMERA FILA-->
    <div class="row">

        <!--TIPOITEM-->

        <div class="col-md-4">
            <label for="inputState" class="form-label">Tipo de item</label>
            <select id="inputState" class="form-select" name="id_tipoItem" required>
                <option selected disabled value>Elegir...</option>
                {% for x in tiposdeItem %}
                <option value="{{x.nombre}}">{{x.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <!--NOMBRE-->
        <div class="col-md-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Nombre</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nombre">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="nombre" class="form-control" id="inputPassword2" value="" required autocomplete="off" >
            </div>
        </div>

        <!--PRECIO-->
        <div class="col-md-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Precio C$</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Precio C$">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="number" name="precio" class="form-control" id="inputPassword2" value="" required autocomplete="off" >
            </div>
        </div>

        <!--CANTIDAD-->
        <div class="col-md-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Cantidad</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Cantidad">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="number" name="cantidad" class="form-control" id="inputPassword2" value="" required autocomplete="off" >
            </div>
        </div>

        <!--Medidas-->
        <div class="col-md-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Unidad de medida</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Unidad de medida">
            </div>
            <div class="col-auto">
                <!--Agregué esta etiqueta-->
            <select class="form-select" aria-label="Default select example" name="unidad_medida" id="unidad_medida" > 
                <option selected disabled value=" " >Seleccionar</option>
                {% for x in unidadesdeMedida %}
                <option value="{{x.nombre}}">{{x.nombre}}</option>
                {% endfor %}
            </select>
            <!--Hasta aquí-->
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary">Guardar producto nuevo</button>
</form>


{% endblock %}