{% extends "layout.html" %}

{% block title %}
  Alquileres
{% endblock %}

{% block content %}
<h3>Alquileres</h3>

  <div id="calendario" >
    
  </div>

  <div class="container">
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventModalLabel">Detalle del Evento</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <h3>Cliente:</h3> <span id="modalCliente"></span>
              <p><strong>
                Fecha:
              </strong><span id="fecha_alquiler"></span></p>
              <div class="col-md">
                <p><strong>Hora de inicio:</strong> <span id="modalInicio"></span></p>
              </div>
              <div class="col">
                <p><strong>Hora de fin:</strong> <span id="modalFin"></span></p>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md">
                <p><strong>Tipo de Alquiler:</strong> <span id="tipoAlquiler"></span></p>
              </div>
              <div class="col-md">
                <p><strong>Cantidad de horas alquiladas:</strong> <span id="cantidad_horas"></span></p>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md">
                <p><strong>Total a pagar:</strong> <span id="total_pagar"></span></p>
              </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="#" role="button" id="alquiler_detalle">Modificar</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendario');
      var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'es',  
          events: function(fetchInfo, successCallback, failureCallback) {
              fetch("{% url 'alquileres' %}", {
                  method: 'GET',
                  headers: {
                      'X-Requested-With': 'XMLHttpRequest'
                  }
              })
              .then(response => response.json())
              .then(data => {
                  successCallback(data);
              })
              .catch(error => {
                  failureCallback(error);
              });

              
          },

          eventClick: function(info) {
            console.log(info.event);
                    // Llenar el modal con la información del evento
                    var modalCliente = document.getElementById('modalCliente');
                    var modalInicio = document.getElementById('modalInicio');
                    var modalFin = document.getElementById('modalFin');
                    var tipoAlquiler = document.getElementById('tipoAlquiler');
                    var fecha = document.getElementById("fecha_alquiler");
                    var diferencia = document.getElementById("cantidad_horas");
                    var costo_total = document.getElementById("total_pagar");
                    var detalles = document.getElementById('alquiler_detalle');

                    modalCliente.innerHTML ="<h4>"+ info.event.title+"</h4>";
                    modalInicio.innerText = info.event.start;
                    modalFin.innerText = info.event.end;
                    tipoAlquiler.innerHTML = info.event.extendedProps.tipo;
                    fecha.innerText = info.event.extendedProps.fecha;
                    diferencia.innerText = info.event.extendedProps.diferencia;
                    costo_total.innerText = calcularCostoReservacion(info.event.extendedProps.diferencia, info.event.extendedProps.tipo);
                    detalles.href = '/alquiler/'+info.event.id+'/';
                    // Mostrar el modal
                    var eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
                    eventModal.show();
                },
                
      });
      

      calendar.render();
  });

  function calcularCostoReservacion(tiempo, tipo_Alquiler) {
    // Convertir el tiempo en formato "HH:MM" a horas
    const [horas, minutos] = tiempo.split(':').map(Number);
    const totalHoras = horas + minutos / 60;
    const tarifaAdicionalPorHora = 50;
    const horasBase = 4;

    console.log(tipo_Alquiler, totalHoras);
    // Calcular el costo según la tarifa
    if (tipo_Alquiler == "Primera planta" || tipo_Alquiler == "Segunda planta"){
          var tarifaBase = 250;
          console.log("entra aqui");
    }
    else{
          var tarifaBase = 400;
    }


    if (totalHoras <= horasBase) {
      console.log("Primer if retorna tarifa base")
        return tarifaBase;
    } else {
        const horasAdicionales = totalHoras - horasBase;
        const costoAdicional = Math.ceil(horasAdicionales) * tarifaAdicionalPorHora;
        return tarifaBase + costoAdicional;
    }
}
</script>
{% endblock %}