{% extends "layout.html" %}

{% block title %}
Editar registro de alquiler
{% endblock %}

{% block content %}
<h3>Editar información</h3>
{% for x in info %}
<form action="/alquiler/{{x.0}}/" method="post" class="row g-3" style="margin-top: 2% !important;">
    <p>ID: {{x.0}}</p>
    {% csrf_token %}
    <!--PRIMERA FILA-->

    <div class="row">
        <!--Fecha-->
        <div class="col-md-5">
            <div class="col">
                <label for="fecha">Selecciona una fecha:</label>
            </div>
            <div class="col">
                <input type="date" class="form-control" id="fecha" name="fecha" value="{{fecha}}" min="" required>
            </div>
        </div>
    </div>

    <div class="row">
        <!--HORA DE INICIO-->
        <div class="col-md-4">
            <div class="col">
                <label for="horaInicio">Hora de inicio:</label>

            </div>
            <div class="col">
                <input type="time" id="horaInicio" class="form-control" name="horaInicio" value="{{horaInicio}}"
                    min="14:00" max="02:00" required />
            </div>
        </div>

        <!--HORA DE FIN-->
        <div class="col-md-4">
            <div class="col">
                <label for="horaFin">Hora de fin:</label>
            </div>
            <div class="col">
                <input type="time" id="horaFin" class="form-control" name="horaFin" min="14:00" max="02:00"
                    value="{{horaFin}}" required />
            </div>
        </div>

    </div>
    <div class="row">
        <!--horas-->
        <div class="col-sm-2">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Horas</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Horas">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="horas" class="form-control" id="inputPassword2" maxlength="25" required
                    value="{{x.0}}" disabled>
            </div>
        </div>

        <!--id_tipoAlquiler-->
        <div class="col-sm-4">
            <label for="id_tipoAlquiler" class="form-label">Tipo de alquiler:</label>
            <select class="form-select" aria-label="Seleccionar tipo de alquiler..." name="id_tipoAlquiler" id="id_tipoAlquiler">
            {%for tipos in tipoAlquiler%}
                {% if   x.1 == tipos.0 %}
                <option selected value="{{tipos.0}}">{{tipos.1}}</option>
                {%else%}
                <option value="{{tipos.0}}">{{tipos.1}}</option>
                {% endif %}
            {% endfor %}
            </select>
            
        </div>

        <!--id_cliente-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Cliente</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Cliente">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="nombreCliente" class="form-control" id="inputPassword2" maxlength="25" required
                    value="{{x.6}} {{x.7}}">
            </div>
        </div>

    </div>


    <button type="submit" class="btn btn-secondary">Guardar cambios</button>
</form>
{% endfor %}
{% endblock %}