{% extends "layout.html" %}
{% load static %}
{% block title %}
Editar registro de alquiler
{% endblock %}

{% block content %}
<h3>Editar información</h3>
{% for x in info %}
<form action="/alquiler/{{x.0}}/" method="post" class="row g-3" style="margin-top: 2% !important;">
    <p>ID: {{x.0}}</p>
    {% csrf_token %}
    <!--PRIMERA FILA-->

    <div class="row">
        <!--Fecha-->
        <div class="col-md-5">
            <div class="col">
                <label for="fecha">Selecciona una fecha:</label>
            </div>
            <div class="col">
                <input type="date" class="form-control" id="fecha" name="fecha" value="{{fecha}}" min="" required>
            </div>
        </div>
    </div>

    <div class="row">
        <!--HORA DE INICIO-->
        <div class="col-md-4">
            <div class="col">
                <label for="horaInicio">Hora de inicio:</label>

            </div>
            <div class="col">
                <input type="time" id="horaInicio" class="form-control" name="horaInicio" value="{{horaInicio}}"
                    min="14:00" max="02:00" required />
            </div>
        </div>

        <!--HORA DE FIN-->
        <div class="col-md-4">
            <div class="col">
                <label for="horaFin">Hora de fin:</label>
            </div>
            <div class="col">
                <input type="time" id="horaFin" class="form-control" name="horaFin" min="14:00" max="02:00"
                    value="{{horaFin}}" required />
            </div>
        </div>

        <!--horas-->
        <div class="col-sm-2">
            <div class="col-auto">
                <label for="tiempo" >Horas</label>
            </div>
            <div class="col-auto">
                <input type="text" name="horas" class="form-control" id="tiempo" maxlength="25" required
                    value="{{hora}}" disabled>
            </div>
        </div>

    </div>
    <div class="row">
        

        <!--id_tipoAlquiler-->
        <div class="col-sm-4">
            <label for="id_tipoAlquiler" class="form-label">Tipo de alquiler:</label>
            <select class="form-select" onchange="calcular_tarifa(event)" aria-label="Seleccionar tipo de alquiler..."
                name="id_tipoAlquiler" id="id_tipoAlquiler">
                {%for tipos in tipoAlquiler%}
                {% if x.1 == tipos.0 %}
                <option selected value="{{tipos.0}}" id="{{tipos.2}}">{{tipos.1}}</option>
                {%else%}
                <option value="{{tipos.0}}" id="{{tipos.2}}">{{tipos.1}}</option>
                {% endif %}
                {% endfor %}
            </select>

        </div>

        <!--CEDULA-->
        <div class="col-md-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Cédula</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Cédula">
            </div>
            <div class="col-auto">
                <label for="cedula" class="visually-hidden"></label>
                <input type="text" maxlength="16" name="cedula" class="form-control" id="cedula" required
                    autocomplete="off" value="{{x.7}}" required pattern="^\d{3}-\d{6}-\d{4}[A-Za-z]$"
                    title="XXX-XXXXXX-XXXXY" id="cedula" oninput="buscar_clientes_cedula(event)">
            </div>
        </div>

        <div class="col">
            <div class="col-auto">
                <label for="coincidencia" class="visually-hidden">Cliente</label>
                <input type="text" readonly class="form-control-plaintext" id="coincidencia"
                    value="Cliente"  >
            </div>
            <div class="col-auto">
                <label for="cedula" class="visually-hidden"></label>
                <input type="text" readonly maxlength="16" class="form-control-plaintext" value="{{x.8}} {{x.9}}"
                required autocomplete="off"  id="cliente">
            </div>
        </div>

        

    </div>
    <div class="row">
        <div class="col">
            <p>¿Desea agregar servicios de comida y bebida? Por un costo extra de $50</p>

            {%if x.6 == 'no' %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="agregar_servicios" id="inlineRadio1" value="si">
                <label class="form-check-label" for="inlineRadio1">Sí</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="agregar_servicios" id="inlineRadio2" value="no" checked>
                <label class="form-check-label" for="inlineRadio2" >No</label>
            </div>
            {%else%}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="agregar_servicios" id="inlineRadio1" value="si" checked>
                <label class="form-check-label" for="inlineRadio1"  >Sí</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="agregar_servicios" id="inlineRadio2" value="no">
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
            {% endif %}
        </div>
    </div>

    <button type="submit" class="btn btn-secondary">Guardar cambios</button>
</form>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
    var obtenerCedula = "{% url 'alquiler-cliente-bd' %}";
</script>

<script src="{% static 'alquiler.js' %}"></script>
{% endblock %}