{% extends "layout.html" %}

{% block title %}
Modificar un platillo
{% endblock %}

{% block content %}
<h3>Modificar un platillo</h3>

<form action="/modificar_platillo/{{id_platillo}}/" method="post" class="row g-3" style="margin-top: 2% !important;" enctype="multipart/form-data">
    {% csrf_token %}
    <!--PRIMERA FILA-->
    {% for platillo in info_general %}
    <div class="row">

        <!--NOMBRE-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Nombre</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nombre">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="nombre" class="form-control" id="inputPassword2" value="{{platillo.1}}"
                    required>
            </div>
        </div>

        <!--DESCRIPCION-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Descripcion</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Descripcion">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="text" name="desc" class="form-control" id="inputPassword2" value="{{platillo.2}}" required>
            </div>
        </div>

        <!--PRECIO-->
        <div class="col-sm-4">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Precio C$:</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Precio C$:">
            </div>
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden"></label>
                <input type="number" name="precio" class="form-control" id="inputPassword2" value="{{platillo.4}}"
                    required>
            </div>
        </div>

        <!--IMAGEN -->
        <div class="col-md">

            <div class="col-auto">
                <label for="icon" >Subir una imagen</label>
                <input type="file" name="icon" class="form-control" id="icon" value="" required>
            </div>
        </div>

    </div>
    {% endfor %}
    <br>
    <hr>
    <div class="row">
        <h3>Ingredientes</h3>

        {% for info in ingredientes %}
        <div class="col-sm-6">
            <label for="exampleDataList" class="form-label">Nombre</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" name="nombre_ingredientes"
                placeholder="Buscar ingredientes disponibles ..." value="{{info.0}}">
            <datalist id="datalistOptions">
                {% for x in catalogo_ingredientes %}
                <option value="{{ x.1 }}"></option>
                {% endfor %}
            </datalist>
        </div>

        <div class="col-sm-4">
            <label for="formGroupExampleInput" class="form-label">Cantidad</label>
            <input type="number" name="cantidad" class="form-control" id="formGroupExampleInput" value="{{info.1}}"
                placeholder="¿Cuántos necesitas para elaborarlo?">
        </div>
        <!--<div class="col">
            <button type="button" name="" id="eliminarIng" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </button>
        </div>-->
        {% endfor %}
        
        <div class="col-auto" style="margin-top: 2vh !important;">
            <button type="button" class="btn btn-outline-primary" id="agregar_ingredientes">Añadir
                ingredientes</button>
        </div>
    </div>
    <div class="row" id="ingredientes"></div>
    <button type="submit" class="btn btn-secondary">Guardar</button>
</form>

<script>
    

    const botonAgregar = document.getElementById('agregar_ingredientes');
    const contenedor = document.getElementById('ingredientes');
    let contador = 0;
    
    // Agregamos un event listener al botón
    botonAgregar.addEventListener('click', function () {
        const htmlAgregado = `
        <div class="row" id="${contador}">
    <label for="exampleDataList" class="form-label">Nombre</label>
    <div class="col-md-5">
        <div>
            <input class="form-control" list="datalistOptions" id="input${contador}" name="nombre_ingredientes"
                placeholder="Buscar ingredientes disponibles ..." oninput="actualizarMedidasHtml2(event,${contador})">
            <datalist id="datalistOptions">
                {% for x in catalogo_ingredientes %}
                    <option value="{{ x.1 }}"></option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label for="cantidadInput${contador}" class="form-label">Cantidad</label>
            <div class="row">
                <div class="col-md-9 d-flex align-items-center">
                    <input type="number" name="cantidad" step="0.1" class="form-control" id="cantidadInput${contador}" placeholder="¿Cuántos necesitas para elaborarlo?">
                </div> 
                <div class="col-md-3 d-flex align-items-center">
                    <label for="medida${contador}" class="form-label" id="medida${contador}" style="margin-bottom: 0; font-size: 1rem;"></label>
                </div> 
            </div>                       
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-danger" onclick="eliminarIngrediente(event,${contador})" id="eliminar_ingrediente" style="margin-top: 10%;">Eliminar</button> 
    </div>
</div>
        `;
        
      // Agregamos el nuevo div al contenedor
        contenedor.insertAdjacentHTML('beforeend', htmlAgregado);

        contador += 1;    
        //Agregar event listener para actualizar la medida
    });

    

    function eliminarIngrediente(event, id){
        console.log(id);
        const ingrediente = document.getElementById(id);

       ingrediente.remove();
    }

    function obtenerID(event,id_padre, id_item, unidad_medida){
        medida_label = document.getElementById("medida"+id_padre);
    }





    //cosa rara
    function obtenerNombreMedida(nombreItem) {
    let url = "/obtenerMedidaItem/" + encodeURIComponent(nombreItem) + "/";
    console.log(url);

    return axios.get(url)
        .then(response => {
            let diccionario = response.data;

            // Cambiando el valor de la variable medidaNombreObtenida a lo que viene del get dentro del diccionario
            //lo pongo dentro de una variable global para acceder en otra funcion           
            let medidaNombreObtenida = diccionario[0].medidaNombre[0];
            //print para ver lo qeu mando
            console.log("Medida Nombre Obtenida: "+ medidaNombreObtenida+" tipo: "+typeof medidaNombreObtenida);
            return medidaNombreObtenida;
        })
        .catch(error =>{
            console.error('Error en obtenerNombreMedida:', error);
            throw error;
        });
    }

    //esta funcion es la que voy a poner en repeat para actualizar en tiempo real las cosas
    function actualizarMedidasHtml(){
        console.log("Entra a funcion");
        for (let x=contador-1;x>=0;x--){
            console.log("Entra a for");
            let itemDiv=document.getElementById("input"+x);
            let medidaDiv=document.getElementById("medida"+x);
            if (itemDiv) {
               let nombreItem = itemDiv.value; 

               obtenerNombreMedida(nombreItem)
               let nombremedida=medidaNombreObtenida
               console.log(typeof nombremedida +" x "+ nombremedida)
               medidaDiv.textContent=nombremedida
               //console.log("medidaaa "+medidaDiv.textContent + "tipo: " +typeof medidaDiv.textContent)

             } else {
                  console.error("Elemento no encontrado con ID 'input" + x + "'");         
           }
        }
    }

    async function actualizarMedidasHtml2(event,x){
            let idItemInput=("input"+x);
            let idMedidaDiv=("medida"+x);
            console.log("Input: " +idItemInput + "tipo: "+ typeof idItemInput)
            console.log("Medida: " +idItemInput + "tipo: "+ typeof idItemInput)
            const itemDiv=document.getElementById(idItemInput);
            const medidaDiv=document.getElementById(idMedidaDiv);
            
            if (itemDiv) {
               let nombreItem = itemDiv.value;

               try{
                let nombreMedida = await obtenerNombreMedida(nombreItem);

                medidaDiv.textContent=nombreMedida;
                console.log("que paso")
               }catch(error){
                console.error("Error obtentiendo la medida",error);
               }
             } else {
                  console.error("Elemento no encontrado con ID 'input" + x + "'");         
           }
    }
</script>

{% endblock %}