{% extends "layout.html" %}
{% load static %}
{% block title %}
Inicio
{% endblock %}

{% block content %}
<style>
  @media (min-width: 768px) {
      .carousel-item {
          display: flex;
      }
  }
</style>

<div class="container ">
  <div class="row">
      <strong class="fs-5">PRODUCTOS PROXIMOS A TERMINARSE (QUEDAN MENOS DE 10 UNIDADES)</strong>
      {% for x in productos %}
      <div class="col-md-auto overflow-x-auto" >
        <div class="card" >
          {% if x.5 %}
          <img src="{{ MEDIA_URL }}{{x.5}}" class="card-img-top" style="object-fit: cover; height: 5rem;" alt="">
          {% else %}
          <img src="https://cdn3.iconfinder.com/data/icons/online-states/150/Photos-512.png" class="card-img-top " style="object-fit: cover; height: 5rem;" alt="">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{x.1}}</h5>
            <p class="card-text">Precio de compra: C${{x.8}} <br> <strong>Cantidad disponible: {{x.3}} </strong> 
            </p>
        
            <div>
              <a href="/item/{{x.0}}" class="btn btn-success">  <i class="bi bi-plus-square"></i> Agregar</a>
        
            </div>
        
          </div>
        </div>
      </div>
      {% endfor %}

  </div>
<hr>
  <div class="row">
    <div class="col-md-4 ">
      <strong class="fs-5">REPORTES DE VENTAS</strong>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" onclick="obtenerReporteVentas(30)" >Descargar mi reporte de ventas de los últimos 30 días</li>
        <li class="list-group-item" onclick="obtenerReporteVentas(7)">Descargar mi reporte de ventas de los ultimos 7 días</li>
      </ul>
      <hr>
      <strong class="fs-5">REPORTES DE ALQUILER</strong>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" onclick="obtenerReporteAlquileres(30)" >Descargar mi reporte de alquileres de los últimos 30 días</li>
        <li class="list-group-item" onclick="obtenerReporteAlquileres(7)">Descargar mi reporte de alquileres de los ultimos 7 días</li>
      </ul>
    </div>
    

    <hr class="d-md-none" style="margin-top: 4% ;margin-bottom: 4% ;">

    <div class="col-md-6">
      <strong class="fs-5">PRODUCTOS MÁS VENDIDOS</strong>
      <div class="row overflow-auto" style="height: 70vh !important; margin-top: 5% !important;">
          <div class="items_vendidos">

          
            <strong>Bebidas más vendidas</strong>
            <canvas id="items_chart" aria-label="Hello ARIA World" role="img"></canvas>
        </div>
        <br>
        <hr>
        <br>
        <div class="items_vendidos">
            <strong>Platillos más vendidos</strong>
            <canvas id="platillos_chart" aria-label="Hello ARIA World" role="img"></canvas>
        </div>
          
      </div>
      </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'graficos.js' %}"></script>
<script>

  const items_url = "{% url 'items_mas_vendidos' %}";
  const platillos_url = "{% url 'platillos_mas_vendidos' %}";
  const ventas_url = "{% url 'reportes-ventas-ordenes' %}";
  const alquileres_url= "{% url 'reportes-alquileres' %}"

  document.addEventListener("DOMContentLoaded", (event) => {
  ItemsMasVendidos();
  PlatillosMasVendidos()
});

  
</script>
<script src="{% static 'general.js' %}"></script>
{% endblock %}