{% extends "layout.html" %}
{% load static %}
{% block title %}
Inicio
{% endblock %}

{% block content %}
<style>
  @media (min-width: 768px) {
      .carousel-item {
          display: flex;
      }
  }
</style>

<div class="container ">
  <div class="row">
      <h3>Productos próximos a terminarse (Quedan menos de 10 unidades)</h3>
      {% for x in productos %}
      <div class="col-auto" >
        <div class="card" >
          <img src="{{ MEDIA_URL }}{{x.5}}" class="card-img-top" style="object-fit: cover; height: 5rem;" alt="">
          <div class="card-body">
            <h5 class="card-title">{{x.1}}</h5>
            <p class="card-text">Precio: C${{x.2}} <br> <strong>Cantidad disponible: {{x.3}} </strong> 
            </p>
        
            <div>
              <a href="/item/{{x.id_item}}" class="btn btn-success">  <i class="bi bi-plus-square"></i> Agregar</a>
        
            </div>
        
          </div>
        </div>
      </div>
      {% endfor %}

  </div>
<hr>
  <div class="row">
    <h3>Nuestros productos más vendidos</h3>
    <div class="col-md items_vendidos">
      <h4>Bebidas más vendidas</h4>
      <canvas id="items_chart" aria-label="Hello ARIA World" role="img"></canvas>
    </div>
    <div class="col-md items_vendidos">
      <h4>Platillos más vendidos</h4>
      <canvas id="platillos_chart" aria-label="Hello ARIA World" role="img"></canvas>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'graficos.js' %}"></script>
<script>

  const items_url = "{% url 'items_mas_vendidos' %}";
  const platillos_url = "{% url 'platillos_mas_vendidos' %}";
  document.addEventListener("DOMContentLoaded", (event) => {
  ItemsMasVendidos();
  PlatillosMasVendidos()
});

  
</script>

{% endblock %}