{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!--BOOSTRAP ORIGINAL-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>


    <!--CREDITOS DEL SIDEBAR: https://github.com/codzsword/bootstrap-sidebar-->
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- Content For Sidebar -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="/"><img src="{% static 'images/logo_EBP.png' %}" alt="" style="width:80%;"></a>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="/" class="sidebar-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                              </svg>
                            <i class="fa-solid fa-list pe-2"></i>
                            Ir a inicio
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/empleados/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Empleados
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/add_alquiler_cliente/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Clientes
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/inventario/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Inventario
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/platillos/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Platillos
                        </a>
                    </li>
                    <li class="sidebar-header">
                        Ordenes
                    </li>
                    <li class="sidebar-item">
                        <a href="/mesas/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Ver las mesas
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Alquileres
                    </li>
                    <li class="sidebar-item">
                        <a href="/alquiler/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Ver alquileres
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/add_alquiler2/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Agregar un alquiler
                        </a>
                    </li>
                    <li class="sidebar-header">
                        Facturación
                    </li>
                    <li class="sidebar-item">
                        <a href="/" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Facturar una orden
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="/logout/" class="dropdown-item">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
            <a href="#" class="theme-toggle">
                <i class="bi bi-moon-stars"></i>
                <i class="bi bi-brightness-high-fill"></i>
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>
    <script src="{% static 'script.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>