{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iniciar sesión</title>
  <!--BOOSTRAP ORIGINAL-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'sidebar.css' %}">

  <link rel="stylesheet" href="{% static 'prueba.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
  <div class="container" style="">

    <div class="login align-middle">

      <img src="{% static 'images/logo_EBP.png' %}" class="logo_EBP"alt="">
      <h1>Iniciar sesión</h1>
      <form action="/login/" method="post">
        {% csrf_token %}
        <div class="input-login">
          <label for="formGroupExampleInput" class="form-label fw-semibold">Nombre de usuario</label>
          <input type="text" class="form-control" id="formGroupExampleInput"
            placeholder="Escribe aquí tu nombre de usuario" autocomplete="off" name="username">
        </div>
        <div class="input-login">
          <label for="formGroupExampleInput2" class="form-label fw-semibold">Contraseña</label>
          <input type="password" class="form-control" id="formGroupExampleInput2"
            placeholder="Escribe aquí tu contraseña" autocomplete="off" name="password">
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        </div>
      </form>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
        
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="{% static 'script.js' %}"></script>
</body>

</html>