{% extends "layout.html" %}

{% block title %}
  Mesas
{% endblock %}

{% block content %}
<h3>Seleccione una de las mesas para ver las ordenes o agregar una nueva</h3>

<div class="container ">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2>Todas las ordenes de la mesa {{info.0}}:</h2>
          <div style="height:100%;width:100%;border:1px solid #ccc;">
            <div style="height:100%;width:100%;overflow:auto;">
              Así, una vez que hay suficiente texto en este cuadro, ¡el cuadro crecerá barras de desplazamiento... por eso lo llamamos un cuadro de desplazamiento! También podrías colocar una imagen en el cuadro de desplazamiento.
            </div>
          </div>
</div>
        </div>
      </div>
    </div>
</div>

  {% endblock %}