{% extends "layout.html" %}

{% block title %}
Inventario
{% endblock %}

{% block content %}
<h3>Inventario</h3>
<div class="row">
  <div class="col-md">
    <p>Comida</p>

    <div class="card" style="margin: 1% !important;">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-9">
            <p>Nombre aqui</p>
          </div>
          <div class="col-sm-3">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <a href="" > <button type="button" class="btn btn-outline-secondary">Editar</button></a>
              <a href="" style="margin-left: 4% !important;"> <button type="button" class="btn btn-danger">Eliminar</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <p>Bebidas</p>

    <div class="card" style="margin: 1% !important;">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-9">
            <p></p>
          </div>
          <div class="col-sm-3">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <a href=""> <button type="button" class="btn btn-outline-secondary">Editar</button></a>
              <a href="" style="margin-left: 4% !important;"> <button type="button" class="btn btn-danger">Eliminar</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="/add_empleados/"><button class="btn btn-primary" type="button">Agregar un nuevo empleado</button></a>
{% endblock %}