.btn{
    margin-bottom: 2vh !important;
}

.carta-orden{
    height:65vh !important;
    width: 70% !important;
    margin-right: 5%
}

.icon-item{
    width: 7rem; 
    height:5rem;
}
@media only screen and (max-width: 600px){
    .carta-orden{
        width: 100%;
        margin-right: 5%
    }
    .card{
        width: 100% !important; 
    }

}
@media only screen and (min-width: 800px){
    .card{
        width: 18rem !important; 
    }
    .card-img-top{
        object-fit: cover;
        width: 230px;
        height: 230px;
    }
}